# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Environment
.env
.env.local
.env.production

# Debug
npm-debug.log*
serveo.log
ws.log
antigravity_phone_chat/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
.vercel
.aider*
playwright-report/
test-results/
tsconfig.tsbuildinfo
